a
{
    color: #000;
}
img
{
    max-width: 100%;
}
  .mt-5, .my-5 {
    margin-top: 2rem!important;
}
.login-section form .btn-block
{
    display: block;
    width: 100%;
    /*margin-top: 20px;*/
}

.grandParentContaniner{
        /*display:table;*/
        height:100%;
        margin: 0 auto;
}
.login-section
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center; 
}
.login-section form h5
{
    font-size: 18px;
}
.login-section form .app
{
    max-width: 100%;
    height: 50px;
} 
.login-section .login-img
{
    margin-top: 10px;
    /*height: 550px;*/
    max-width: 100%;
}   
Html, body{
  height:100%;
    margin:0px;
    padding:0px;
}
.login-section form .input-field .prefix 
{
    top: 15px;
        font-size: 18px;
}
.login-section form .input
{
    margin-top: 0px;
}

.login-section form .code
{
    margin-top:0;
}
.login-section form input[type=text]:not(.browser-default):focus:not([readonly])+label, .login-section form input[type=password]:not(.browser-default):focus:not([readonly])+label
{
    padding-top: 20px;
}

.input-field .prefix ~ input, .prefix ~ .select-wrapper, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content {
     margin-left: 0; 
    width: 100%;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea 
{
    padding: 0px 0 0 30px;
    }
.input-field.col label
{
    left: 40px;
}
.select-wrapper input.select-dropdown 
{
    width: 92%;
    padding: 0px 30px;
}

.scale-transition.scale-out {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .2s !important;
    transition: -webkit-transform .2s !important;
    transition: transform .2s !important;
    transition: transform .2s, -webkit-transform .2s !important;
}

.login-section .logo h1
{
    font-size: 26px;
    margin-top: 10px;
    font-family: Arial,sans-serif;
    color: #000 !important;
    font-weight: bold;
    text-align: center;
}




@media(max-width: 768px)
{
    .select-wrapper input.select-dropdown 
    {
        width: 70%;
    }
}
@media(max-width: 667px)
{
    .login-section
    {
        display: table;
    }
    .select-wrapper input.select-dropdown 
    {
        width:90%;
    }   
    .login
    {
        width: 100% !important;
        margin: 20px 0;
    }
}
@media(max-width:512px)
{
    .select-wrapper input.select-dropdown 
    {
        width: 82%;
    }
}